<div class="home">
  <h1>Order food</h1>
  <div class="cart__container">
    <p>Total price: {{data.getPrice()}}$</p>
    <button class="btn checkout" *ngIf="data.getPrice()===0">Order!</button>
    <button class="btn checkout" *ngIf="data.getPrice()>0" (click)="onCheckout()">Checkout</button>
  </div>
  <div class="cards__container">
    <app-card *ngFor="let c of data.data$|async" [c]="c"></app-card>
  </div>
  <div class="contact_div {{(showContact$|async)&&'show_contact'}}">
    <app-contact [showContact$]="showContact$"></app-contact>
  </div>
</div>
