* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  --main-padding: 16px;
  background: var(--tg-theme-bg-color)
}

.home {
  color: var(--tg-theme-text-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hint {
  color: var(--tg-theme-hint-color);
  font-size: 0.8rem;
}

hr {
  background: var(--tg-theme-hint-color);
  margin-bottom: var(--main-padding);
}




:root {
  --primary-color: #e0c521;
}

.btn {
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 120px;
  margin-left: 10px;
  box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
  cursor: pointer;
}

.btn.add {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-text-color);
}

.btn.remove {
  background-color: tomato !important;
}

.btn.checkout {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-text-color);
  width: 150px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}